{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card my-5">
                    <div class="card-body">
                        <form action="/Contact/update/{{ produit.id }}" method="post">
                            <input class="form-control" type="text" value="{{ produit.title }}" name="titre">
                            <input type="submit" value="modifier" name="modifier" class="btn btn-dark">
                        </form>
                    </div>
                </div>
                <a href="/Home/index"><button class="btn btn-dark btn-sm">Retour</button></a>
            </div>
        </div>
    </div>
{% endblock %}
